*{
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    width: 80vw;
    height: 0;
    margin: 50px;
    
}

.navegation{
    padding: 0;
    margin: 0;
}

li{
    display: inline-block;
    list-style: none;
    margin: 10px;
    position: relative;
    bottom: 50px;
    left: 100%;
    
}

a[title=""]{ /*tags a que possuem title*/
    text-decoration: none;
    color: black;
    transition: all 0.2s;
}

a[title=""]:hover{ /*hover das tags a que possuem title*/
    color: #707070;
}

#main-content{
    margin: 0 0 0 20px;
}

img{
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    left: 25%;
    z-index: -1;
}

h1{
    font-size: 25px;
    color: #D2872C;
}

h2{
    font-size: 50px;
    color: #766F68;
}

h2 span{ /*pular linha*/
    display: block;
}

p span{ /*pular linha*/
    display: block;
}

p{
    font-size: 20px;
    color: #766F68;
}  


a[href="https"]{ /*tags a que possuem https*/
    display: inline-block;
    color: white;
    background-color: #D2872C;
    padding: 10px 70px;
    border-radius: 8px;
    text-decoration: none;
    transition: color .2s;
    margin: 10px 0 0 0;
    

}

a[href="https"]:hover{ /*hover das tags a que possuem https*/
    background-color: #ab6e24;

}


@media (max-width: 985px){
    img{
        max-width: 50%; /*500px*/
        min-width: 400px;
        position: absolute;
        bottom: 50%;
        left: 22%
        
    
    }


    .main-content-texts{
        margin-top: 18rem;
        text-align: center;
    }
}

@media (min-width: 985px){

}

